.instruction {
  margin-top: 2rem;
  background-color: var(--primary-color);
  padding: 1rem;
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
.instruction h3 {
  text-align: center;
}
.instruction ol {
  text-align: left;
}
.instruction ol,
.instruction ol li {
  list-style: upper-roman;
}
