main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}
@media print {
  html,
  body {
    display: none;
  }
}
aside {
  width: 100%;
  height: 100%;
  background-color: var(--light-primary);
  color: #ffffff;
  transition: transform 0.3s ease-in-out;
  overflow: auto;
}
.bar {
  display: none;
  z-index: 99;
  position: absolute;
  top: 2rem;
  left: 1rem;
}
.bar svg {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.2rem;
}

aside::-webkit-scrollbar {
  width: 0;
}
aside .attempted-question {
  padding: 1rem;
  overflow-y: auto;
}
aside .attempted-question li {
  padding: 0.5rem;
}
.question-container {
  padding: 1rem;
}
.option,
.attempted-question li {
  max-width: 95%;
  background-color: var(--light-primary);
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: relative;
}
.option.selected {
  background-color: var(--primary-color);
}
.option.selected::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  border-radius: 50%;
  background-color: black;
}
.option:hover,
.attempted-question li:hover {
  background-color: var(--primary-color);
}
.result-circle {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.result-circle svg {
  position: relative;
  height: 150px;
  width: 150px;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(100, 100, 100, 0.4);
  transform: translate(-5px, -5px);
  stroke-linecap: round;
}
svg circle:last-child {
  transition: stroke-dashoffset 0.5s ease-in-out;
}
svg text {
  font: bold 16px sans-serif;
  text-anchor: middle;
}
.attempted-question li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.attempted-question li span:last-child {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: black;
  display: none;
}
.attempted-question li span.show {
  display: block;
}
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    min-height: 650px;
  }
  aside {
    position: absolute;
    z-index: 1;
    transform: translateX(-100%);
  }
  .bar {
    display: inline-block;
  }
  aside.active {
    transform: translateX(0);
  }
  .bar.active svg {
    color: #fff;
  }
}
