main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 1rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
aside {
  width: 100%;
  background-color: var(--light-primary);
  height: 100vh;
  overflow: auto;
  color: #fff;
}
aside::-webkit-scrollbar{
  width: 0;
}
aside .attempted-question {
  padding: 1rem;
  overflow-y: auto;
}
aside .attempted-question li {
  padding: 0.5rem;
}
.option, .attempted-question li {
  max-width: 95%;
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  color: #fff;
}
.option label {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  gap: 10px;
  align-items: center;
  display: block;
  height: 100%;
  cursor: pointer;
}
.option:hover, .attempted-question li:hover {
  background-color: var(--light-primary);
}
.result-circle {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.result-circle svg {
  position: relative;
  height: 150px;
  width: 150px;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(100, 100, 100, 0.4);
  transform: translate(-5px, -5px);
  stroke-linecap: round;
}
svg circle:last-child {
  transition: stroke-dashoffset 0.5s ease-in-out;
}
svg text {
  font: bold 16px sans-serif;
  text-anchor: middle;
}
.attempted-question li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;

}
.attempted-question li span:last-child{
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: aqua;
  display: none;
}
.attempted-question li span.show{
  display:block;
}